#CUCTitle{
    text-align: left;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
}

#mapIframe{
    width :100%;
    height :500px; 
    border :0; 
}

#sendMessageButton{
    position: relative;
    float: left;
    background-color: #3a8bcd !important;
    border-color: #3a8bcd !important;
}

#contactUsContentPageContainer{
    padding-bottom: 5%;
}

/* #formDivContainer{
    padding-top: 5%;
} */

#map{
    padding-bottom: 5%;
}